h1{
    color: rgb(139, 135, 119);
}
img{
    width: 120px;
    display: flex;
    border-radius: 15px;
    position: absolute;
    right: 150px;

}
body{
    background-color: rgb(3, 34, 65)
    
}
.cabecalho{
    background-color: rgb(3, 47, 92);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 20px;
    display: flex;
}
.Conteudos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(139, 135, 119) ;
    display: flex;
}
.Experiencias{
    color: rgb(139, 135, 119) ;
}
.titulo{
    color: rgb(139, 135, 119) ;
    background-color: rgb(3, 47, 92);

}
